* {
	margin: 0;
}

body {
	font-family: "calibri", helvetica;
	color: #58595b;
}

h1, h2, h3 {
	margin-bottom: .8rem;
	color: #52a2e2;
	border-bottom: 3px solid #52a2e2;
}

.entry h4 {
    color: #52a2e2;
    margin-bottom: .3rem;
    text-transform: uppercase;
    font-size: 18px;
}

.entry {
    padding-top: 15px;
}

nav {
	display: flex;
	align-items: center;
	height: 3rem;
	background-color: #434e52;
	padding-left: 1rem;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	opacity: .5;
}

nav > * {
	padding-left: 1rem;
	padding-right: 1rem;
}

#mobile-menu-button {
	display: none;
	position: absolute;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	top: .5rem;
	right: .5rem;
}

.two-row-wrapper {
	display: flex;
	margin-top: 1rem;
}

.two-row-wrapper > *{
	flex: 1;
	padding: 2rem;
}

.pledge {
    background-color: rgba(82,162,226,.2);
    padding: 20px;
}

.pledge p {
    color: #52a2e2;
}
/* MEDIA QUERIES ******************************************************/
@media screen and (max-width:450px) {
	nav {
		height: auto;
		flex-direction: column;
		align-items: center;
		padding: 0;
		padding-top: 3rem;
		justify-content: center;
	}

	nav > a {
		padding: 1rem;
		display: none;
		width: 100%;
		text-align: center;
	}

	#mobile-menu-button {
		display: block;
	}

	.two-row-wrapper {
		flex-direction: column;
	}
}