* {
	margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Lato', sans-serif, "calibri", helvetica;
	color: #58595b;
    display: block;
	overflow:auto;
}
.wrapper_RM {
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
* {
	box-sizing:border-box;
}

h1, h2, h3 {
	margin-bottom: .5rem;
	color: #52a2e2;
}
nav {
	display: flex;
	align-items: center;
	height: 3rem;
	background-color: #434e52;
	padding-left: 1rem;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
    position: fixed;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	opacity: .5;
}

nav > * {
	padding-left: 1rem;
	padding-right: 1rem;
}
.sustain ul li{
    display:inline-block;
}

#mobile-menu-button {
	display: none;
	position: absolute;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	top: .5rem;
	right: .5rem;
}

.two-row-wrapper {
	display: inline-block;
	margin-top: 1rem;
}

.two-row-wrapper > *{
	flex: 1;
	padding: 2rem;
	overflow: auto;
}
.underThesea {
	background-image: url("images/underthesea.jpg");
	background-color: #52a2e273;
	background-repeat: no-repeat;
    background-position:top;
	background-attachment:fixed;
	background-size: cover;
    overflow: auto;
    display: block;
}
.contentBox {
	margin:0px auto;
    padding: 0px;
    background-color:#52a2e285; 
    width: 100vw;
    height: 150%;
    float: left;
    display: inline-block;
}
.threeRsWhite {
	width: 25vw;
    display: block;
    margin-top:7vw;
    margin-bottom:3vw;
	margin-left:15%;
    border-radius: 50%;
    float: left;
}
.threeRsWhite:hover {
    transform-origin: center;
    transform:rotate(-360deg);
    transition-timing-function: cubic-bezier(0.42, 0, 0, 0.58);
    transition-duration: 5s;
}



.listed {
    margin-left: 2%;
    margin-top: 11vw;
    line-height: 6.8vw;
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    color:#fff;
    float: left;
}
.unlisted {
    margin-left: 2%;
    margin-top: 11vw;
    line-height: 6.8vw;
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    color:#ffffff73;
    float: left;
}
.R1_Explained {
    clear:both;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffa3;
    
}
.R2_Explained {
    clear:both;
    display:none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffa3;
    
}
.R3_Explained {
    clear:both;
    display:none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffa3;
    
}
.however {
    font-size: 6vw;
    color:#fff;
    font-weight: 200;
    margin-left: 18%;
    margin-top: -4vw;
    margin-bottom: 5.5vw;
    opacity: .7;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    
}
.NegFx {
    clear:both;
    display:block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffa3;
    line-height: 4vw;
    
}
div.rListgroup {
    font-size:3.5vw;
    font-weight:700;
    letter-spacing:.1vw;
    margin-bottom:3vw;
	color: #52A2E2;
    text-align:center;
}
div.rlisting {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
div.rlistingL {
    margin-bottom:2.75vw;
}
div.rlistingL2 {
    font-size:1.75vw;
    text-align:left;
    line-height:2.75vw;
    margin-top:2vw;
}
.rArticle, .waysToHelp {
    font-size:1.75vw;
    line-height: 3vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
.helpUs {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
    line-height: 3vw;
}
.BanBox {
    clear:both;
    display:block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffa3;
    font-size:1.75vw;
    line-height: 3vw;
    text-align:center;
}
.banButton {
    background-color: orange;
    color: #fff;
    font-size:2.5vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 15%;
    height: 5vw;
    border-radius: 5vw;
    margin-top: 2vw;
    margin-left: 42.5%;
    margin-bottom: 4vw;
    padding-top: .8vw;
    text-align:center;
    
}
.source {
    text-align:left;
    font-size:1.5vw;
    font-weight: 600;
    margin-top:3vw;
    margin-bottom:3vw;
}
#readMore {
    border: 2px solid #58595b;
    color: #58595b;
    display: block;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    width:16%;
    height: 4vw;
    margin-left: 42%;
    margin-top: -3vw;
}
#readLess {
    border: 2px solid #58595b;
    color: #58595b;
    display:none;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    width:16%;
    height: 4vw;
    margin-left: 42%;
    margin-bottom: 3vw;
}
/* MEDIA QUERIES ******************************************************/
@media screen and (max-width:450px) {
	nav {
		height: auto;
		flex-direction: column;
		align-items: center;
		padding: 0;
		padding-top: 3rem;
		justify-content: center;
	}

	nav > a {
		padding: 1rem;
		display: none;
		width: 100%;
		text-align: center;
	}

	#mobile-menu-button {
		display: block;
	}

	.two-row-wrapper {
		flex-direction: column;
	}
    .threeRsWhite {
	    width: 46vw;
        padding-top:3vw;
        padding-bottom:3vw;
	    padding-left:15%;
    }
    .listed {
        margin-left: 2%;
        margin-top: 7vw;
        line-height: 8vw;
        font-size: 6vw;
        letter-spacing: .5vw;

    }
    
    .R1_Explained, .R2_Explained, .R3_Explained {
        padding-top: 6vw;
        background-color:#ffffffc7;
    }
    
    div.rListgroup {
        font-size:4.5vw;
        letter-spacing:.1vw;
        margin-bottom:3vw;
        letter-spacing: .5vw;
    }
    div.rlisting {
        font-size:3.75vw;
        padding-top:3vw;
        margin-bottom:4vw;
        line-height:5.75vw;
    }
    div.rlistingL {
        margin-bottom:4.75vw;
        line-height:5.75vw;
    }
    div.rlistingL2 {
        font-size:3.75vw;
        line-height:5.75vw;
        margin-top:5vw;
    }
    .source {
        font-size:3.5vw;
        margin-top:5vw;
        margin-bottom:5vw;
    }
}