* {
	margin: 0;
}

nav {
	display: flex;
	background-color: #0bb9ff;
	padding-left: 1rem;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
}

nav a {
	color: white;
	font-family: "calibri", helvetica;
	text-decoration: none;
}

nav a:hover {
	opacity: .5;
}

nav > * {
	padding: 1rem;
}