* {
	margin: 0;
    box-sizing:border-box;
}

h1, h2, h3 {
	margin-bottom: .8rem;
	color: #52a2e2;
	padding: 0;
}

body {
	font-family: 'Lato', Calibri;
	font-weight: 400;
	line-height: 1.5rem;
	color: #58595b;
    display: block;
	overflow:auto;
}
.wrapper_RM {
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
h1 {
	font-weight: bold;
	color: #ff8122;
}

h2 {
	font-weight: bold;
	margin-bottom: .5rem;
	color: #52a2e2;
}

h3 {
	font-weight: bold;
	color: #52a2e2;
	margin-top: 1rem;
}

h3 + p {
	margin-top: 0;
}

p {
	margin-top: 1rem;
}

nav {
	display: flex;
	align-items: center;
	height: 3rem;
	background-color: #434e52;
	padding-left: 1rem;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
box-shadow: 0px 0px 4px 0px rgba(199,199,199,1);
	position: fixed;
	width: 100%;
	margin-bottom: 1.5rem;
	transition: top .5s;
	z-index: 100;
	top: 0;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #FF8122;
}

nav > * {
	padding-left: 1rem;
	padding-right: 1rem;
}

a.current-page {
	color: #ff8122;
}

#mobile-menu-button {
	display: none;
	position: absolute;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	top: .5rem;
	right: .5rem;
}

.sustain ul li{
    display:inline-block;
}
.underThesea {
	background-image: url("images/underthesea.jpg");
	background-color: #52a2e273;
	background-repeat: no-repeat;
    background-position:top;
	background-attachment:fixed;
	background-size: cover;
    overflow: auto;
    display: block;
}
.contentBox {
	margin:0px auto;
    padding: 0px;
    background-color:#52a2e285; 
    width: 100vw;
    height: 150%;
    float: left;
    display: inline-block;
}
#threeRsWhite {
	width: 25vw;
    display: block;
    margin-top:7vw;
    margin-bottom:3vw;
	margin-left:15%;
    border-radius: 50%;
    float: left;
}
#threeRsWhite:hover {
    transform-origin: center;
    transform:rotate(-360deg);
    transition-timing-function: cubic-bezier(0.42, 0, 0, 0.58);
    transition-duration: 5s;
    z-index: 50;
}.listed {
    margin-left: 2%;
    margin-top: 11vw;
    line-height: 6.8vw;
    font-size: 5vw;
    color:#fff;
    float: left;
}
#R1:hover, #R2:hover, #R3:hover {
    color:#fff;
    text-shadow: 0 0 14px #ffffffc3;
}
.unlisted {
    margin-left: 2%;
    margin-top: 11vw;
    line-height: 6.8vw;
    font-size: 5vw;
    color:#ffffff73;
    float: left;
}
#R1_Explained {
    clear:both;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffeb;
    position: relative;
    z-index: 55;
}
#R2_Explained {
    clear:both;
    display:none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffeb;
    position: relative;
    z-index: 55;
}
#R3_Explained {
    clear:both;
    display:none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffeb;
    position: relative;
    z-index: 55;
}
.however {
    font-size: 6vw;
    color:#fff;
    font-weight: 200;
    margin-left: 18%;
    margin-top: -6vw;
    margin-bottom: 5.5vw;
    opacity: .7;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
}
#rings {
    width:30%;
    opacity: .5;
    position: relative;
    z-index: 25;
    margin-top: -15vw;
    margin-left: 75%;
    animation: ringsFloating 30s infinite;
}
@keyframes ringsFloating {
    10% {transform: translateX(-3%);}
    20% {transform: translateY(-1vw);}
    30% {transform: translateX(-5%);}
    40% {transform: translateY(-1vw);}
    50% {transform: translateX(-2%);}
    60% {transform: translateY(-2vw);}
    70% {transform: translateZ(-2%);}
    80% {transform: translateY(-2vw);}
    90% {transform: translateZ(-2%);}
    100% {transform: translateX(-3%);}
}
.NegFx {
    clear:both;
    display:block;
    width: 80%;
    margin-top: -35vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vw;
    padding-top: 5vw;
    padding-left:8%;
    padding-right:10%;
    padding-bottom:2vw;
    background-color: #ffffffb8;
    line-height: 4vw;
    position: relative;
    z-index: 50;
}
div.rListgroup_NegFx {
    font-size:3.5vw;
    font-weight:700;
    letter-spacing:.1vw;
    margin-bottom:3vw;
	color: #52A2E2;
    text-align:center;
}
div.rListgroup_R1 {
    font-size:3.5vw;
    font-weight:700;
    letter-spacing:.1vw;
    margin-bottom:3vw;
	color: #FF8122;
    text-align:center;
}
div.rlisting_R1 {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
div.rlistingL_R1 {
    margin-bottom:2.75vw;
}
div.rlistingL2_R1 {
    font-size:1.75vw;
    text-align:left;
    line-height:2.75vw;
    margin-top:2vw;
}
div.rListgroup_R2 {
    font-size:3.5vw;
    font-weight:700;
    letter-spacing:.1vw;
    margin-bottom:3vw;
	color: #FF8122;
    text-align:center;
}
div.rlisting_R2 {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
div.rlistingL_R2 {
    margin-bottom:2.75vw;
}
div.rlistingL2_R2 {
    font-size:1.75vw;
    text-align:left;
    line-height:2.75vw;
    margin-top:2vw;
}
div.rListgroup_R3 {
    font-size:3.5vw;
    font-weight:700;
    letter-spacing:.1vw;
    margin-bottom:3vw;
	color: #FF8122;
    text-align:center;
}
div.rlisting_R3 {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
div.rlistingL_R3 {
    margin-bottom:2.75vw;
}
div.rlistingL2_R3 {
    font-size:1.75vw;
    text-align:left;
    line-height:2.75vw;
    margin-top:2vw;
}
.rArticle, .waysToHelp {
    font-size:1.75vw;
    line-height: 3vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
}
.Head2_R2 {
    margin-top: 3vw;
}
.helpUs {
    font-size:1.75vw;
    text-align:left;
    padding-top:1vw;
    margin-bottom:2vw;
    line-height: 3vw;
}
.source_R1 {
    text-align:left;
    font-size:1.5vw;
    font-weight: 600;
    margin-top:3vw;
    margin-bottom:3vw;
}
.source_R2 {
    text-align:left;
    font-size:1.5vw;
    font-weight: 600;
    margin-top:3vw;
    margin-bottom:3vw;
}
.source_R3 {
    text-align:left;
    font-size:1.5vw;
    font-weight: 600;
    margin-top:3vw;
    margin-bottom:3vw;
}
#readMoreOrLess {
    border: 2px solid #58595ba6;
    color: #58595ba6;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    width:16%;
    height: 4vw;
    margin-left: 42%;
    margin-bottom: 3vw;
    padding-bottom: 4vw;
}
#readMoreOrLess:hover {
    border: 2px solid #fff;
    color: #fff;
}
#hiddenWords {
    display:none;
}
.source_NegFx {
    text-align:left;
    font-size:1.5vw;
    font-weight: 600;
    margin-top:3vw;
    margin-bottom:3vw;
}
.two-row-wrapper {
    /*padding: 0px 50px;*/
	display: flex;
}

.two-row-wrapper > *{
	flex: 1;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.pledge {
    background-color: rgba(82,162,226,.2);
    padding: 20px;
    width: 70%;
    margin: 0px auto;
}

.pledge p {
    color: #52a2e2;
}

.pledge h2 {
    text-align: center;
}

.number {
    color:rgba(255,129,34,.3);
    /*use .3 for rgba not .2 */
    font-size:73px;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    padding-top: 3.5rem;
}

.entry h4 {
    color: #58595b;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
    padding-top: 55px;
    padding-left: 25px;
    font-size: 23px;
    margin-bottom: 25px;
    font-weight: 400;
}

.entry p {
    padding-left: 25px;
}

.entry h1 {
    margin-left: 25px;
    border-bottom: 2px solid #52a2e2;
    text-align: center;
}

.left {
    background-image: url(images/12.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /
}

.left p {
    color: white;
    line-height: 2;
    font-size: 20px;
}

.left h1 {
    color:white;
}

.left .text {
    border: 1px solid white;
    padding: 20px;
    width: 70%;
    margin: 30px; 
    /*margin 30 px not 10px */
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #52a2e2;
  border: none;
  color: white;
  padding: 7px 15px;
  text-decoration: none;
  cursor: pointer;
font-size: 15px;
width: 20%;
    display: block;
    margin: 12px auto;
    text-align:center;
}

input[type=text] {
  border: 1px solid #52a2e2;
  color: black;
  padding: 0px 15px;
  text-decoration: none;
  cursor: pointer;
font-size: 15px;
    width: 20%;
    margin: 5px 5px;
    text-align:center;
}

.banner-image {
	background-image: url("images/cleaning-ocean.jpg");
	background-size: cover;
	color: white;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.banner-image h1, .banner-image h2, .banner-image h3 {
	color: white;
}

.two-row-wrapper, .one-row-wrapper {
	display: flex;
}

.two-row-wrapper img, .one-row-wrapper img {
	width: 100%;
}

.two-row-wrapper > *, .one-row-wrapper > *{
	flex: 1;
	padding: 1.5rem 2rem 1.5rem 2rem;
}

#donation-container {
	align-items: center;
	text-align: center;
	background-color: #52a2e2;
	height: 7rem;
	margin-top: 4rem;
	color: white;
	font-size: 1.5rem;
}

button:hover {
	opacity: .7;
	cursor: pointer;
}

.donation-button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    width: 20rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff8122;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	height: 10rem;
	background-color: #58595b;
	justify-content: center;	
}

#back-top-top {
	color: #e6e5e5;
	font-size: 1.2rem;
	cursor: pointer;
}

.sources, .sources a {
	text-align: center;
	color: #949494;
	margin-top: 2rem;
	text-decoration: none;
}

.margin-top-spacer {
	margin-top: 3rem;
}


#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 99999999999999;
}

#lightbox.open {
  display: block;
  background:url(images/water.png);
    background-size: cover;
    
}

#lightbox_content {
  position: absolute;
  width: 300px;
  height: 400px;
  background: white;
  border: 1px solid #52a2e2;;
  border-radius: 3px;
  left: 50%;
  top: 38%;
  margin-left: -250px;
  margin-top: -200px;
  text-align: center;
  padding: 60px 30px;
}

#close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  font-size: 40px;
  text-align: center;
  color: rgba(255,129,34);
  cursor: pointer;
}

.donationOption {
  padding: 10px;
  background: #52a2e2;
  width: 170px;
  margin: 10px auto;
}

.donationOption a {
  text-decoration: none;
  color:white;
}

.donationOption:hover {
  background: rgba(82,162,226,.8);
}

button#donateButton {
    cursor: pointer;
    background: orange;
    padding: 8px;
    color: white;
    margin: 0px auto;
    display: block;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px
}

/* MEDIA QUERIES ***************************************************************/

@media screen and (max-width: 650px) {

	nav {
		height: auto;
		flex-direction: column;
		align-items: center;
		padding: 0;
		padding-top: 3rem;
		justify-content: center;
	}

	nav > a {
		padding: 1rem;
		display: none;
		width: 100%;
		text-align: center;
	}

	#mobile-menu-button {
		display: block;
	}

	.two-row-wrapper {
		flex-direction: column;
	}

	#donation-container {
		height: initial;
	}

	#lightbox_content {
        left: 68%;
}
    
    input[type=text] {
        width: 40%;
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 40%;
    }
    #threeRsWhite {
	    width: 27vw;
        margin-top:11vw;
        margin-bottom:3vw;
	    margin-left:15%;
    }
    .listed {
        margin-left: 2%;
        margin-top: 14vw;
        line-height: 8vw;
        font-size: 6vw;
        letter-spacing: .5vw;

    }
    .R1_Explained, .R2_Explained, .R3_Explained {
        padding-top: 6vw;
        background-color:#ffffffeb;
    }
    div.rListgroup_R1 {
        font-size:5.5vw;
        letter-spacing:.1vw;
        margin-bottom:2vw;
        letter-spacing: .5vw;
    }
    div.rlisting_R1 {
        font-size:3.75vw;
        padding-top:3vw;
        margin-bottom:4vw;
    }
    div.rlistingL_R1 {
        margin-bottom:4.75vw;
        line-height:5.75vw;
    }
    div.rlistingL2_R1 {
        font-size:3.75vw;
        line-height:5.75vw;
        margin-top:5vw;
    }
    .source_R1 {
        font-size:3.5vw;
        margin-top:5vw;
        margin-bottom:5vw;
    }
    div.rListgroup_R2 {
        font-size:5.5vw;
        letter-spacing:.1vw;
        margin-bottom:2vw;
        letter-spacing: .5vw;
    }
    div.rlisting_R2 {
        font-size:3.75vw;
        padding-top:3vw;
        margin-bottom:4vw;
        line-height:5.75vw;
    }
    div.rlistingL_R2 {
        margin-bottom:4.75vw;
        line-height:5.75vw;
    }
    div.rlistingL2_R2 {
        font-size:3.75vw;
        line-height:5.75vw;
        margin-top:5vw;
    }
    .source_R2 {
        font-size:3.5vw;
        margin-top:5vw;
        margin-bottom:5vw;
    }
    div.rListgroup_R3 {
        font-size:5.5vw;
        letter-spacing:.1vw;
        margin-bottom:2vw;
        letter-spacing: .5vw;
    }
    div.rlisting_R3 {
        font-size:3.75vw;
        padding-top:3vw;
        margin-bottom:4vw;
        line-height:5.75vw;
    }
    div.rlistingL_R3 {
        margin-bottom:4.75vw;
        line-height:5.75vw;
    }
    div.rlistingL2_R3 {
        font-size:3.75vw;
        line-height:5.75vw;
        margin-top:5vw;
    }
    .source_R3 {
        font-size:3.5vw;
        margin-top:5vw;
        margin-bottom:5vw;
    }
    .however {
        font-size: 10vw;
        color:#ffffffeb;
    }
    div.rListgroup_NegFx {
        font-size:5.5vw;
        letter-spacing:.1vw;
        margin-bottom:2vw;
        line-height: 6.5vw;
    }
    .helpUs {
        font-size:3.75vw;
        padding-top:1vw;
        margin-bottom:2vw;
        line-height: 5.75vw;
    }
    .rArticle, .waysToHelp {
        font-size:3.75vw;
        line-height: 5.75vw;
        padding-top:1vw;
        margin-bottom:2vw;
    }
    .source_NegFx {
        font-size:3.5vw;
        margin-top:5vw;
        margin-bottom:5vw;
        line-height: 5vw;
    }
    #readMoreOrLess {
        border: 2px solid #58595ba6;
        color: #58595ba6;
        font-size: 3.5vw;
        width:40%;
        height: 9vw;
        margin-left: 30%;
        margin-bottom: 4vw;
        padding-top: 2vw;
}
}

@media screen and (min-width: 1050px) {
	.two-row-wrapper, .one-row-wrapper {
		padding-left: 9rem;
		padding-right: 9rem;
	}
}